/* .wrapper {
  display: flex;
  align-items: center;
  color: var(--mantine-color-white);
}

.icon {
  margin-right: var(--mantine-spacing-md);
  background-color: transparent;
}

.title {
  color: var(--mantine-color-blue-0);
  font-size: 1.1rem !important;
  font-family: 'Times New Roman', Times, serif;
}

.description {
  color: var(--mantine-color-white);
  font-size: 1.1rem !important;
  font-family: 'Times New Roman', Times, serif;
} */
